@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


:root {
    --cyan: hsl(193, 38%, 86%);
    --neon: hsl(150, 100%, 66%);
    --grayishblue: hsl(217, 19%, 38%);
    --darkgrayblue: hsl(217, 19%, 24%);
    --darkblue: hsl(218, 23%, 16%);
}

html {
    height: 100%;
}
body {
    background-color: var(--darkblue);
}
.main {
    height: 50%;
    width: 50%;
    margin: auto;

}

.section {
    background-color: var(--darkgrayblue);
   
}

.advice-number {
    color: var(--neon);
    text-align: center;
}

.advice {
    color: var(--cyan);
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
}

.center-button {
    width: 0;
    margin: auto;
}

#dice {
    height: 3rem;
    width: 3rem;
    background-color: var(--neon);
    border: none;
    border-radius: 50%;
    
}
@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 375px) {

}